
.container{
    padding-top: 70px;
    padding-bottom: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
    .comic {
        background-color: white;
        height: 100%;
        width: 500px;
        border-radius: 15px;
        .title{
            padding: 10px;
        }
        .date{
            #published{
                padding-left: 20px;
            }
            #date-published{
                color: blue;
            }
        }
        img{
            padding: 20px;
        }

    }
}

